<div class="entrar">
    <div class="cadastro" (click)="redirectRoute('sign-in')">
        <img id="add" src="/assets/cadastro.png" alt="cadastro">
        <p>
            Cadastrar-se
        </p>
    </div>
    <div class="cadastro" (click)="redirectRoute('login')">
        <img id="login" src="/assets/entrar.png" alt="entrar">
        <p>
            Entrar
        </p>
    </div>
</div>

<div class="home">
    <div class="back">
        <p class="texto1">
            We Learn
        </p>
        <p class="texto2">
            Sistema que tem como intuito auxíliar alunos e professores para elaboração e resolução de questionários.
        </p>
        <button class="botao-info">
            Conheça mais sobre
        </button>
    </div>
    <div class="social-page">
        <img id="insta" src="/assets/instagram.png" alt="instagram">
        <img id="face" src="/assets/face.svg" alt="facebook">
        <img id="twitter" src="/assets/twitter.png" alt="">
    </div>
</div>